<main class="container">
    <h1>Register here</h1>
    <form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)">
        <fieldset class="mb-3">
            <label for="username">Username</label>
            <input type="text" 
                ngModel 
                #username="ngModel"
                name="username" 
                id="username" 
                required
                minlength="3"
                maxlength="80"
                placeholder="johndoe" class="form-control">
        </fieldset>
        <fieldset class="mb-3">
            <label for="password">Password</label>
            <input type="password" 
                ngModel 
                #password="ngModel"
                name="password" 
                id="password" 
                required
                minlength="5"
                maxlength="40"
                placeholder="*****" class="form-control">
        </fieldset>

        <button class="btn btn-warning" [disabled]="registerForm.invalid">Register</button>
    </form>
</main>