<main class="container">
    <h1>Movies</h1>
    <p>Welcome back, {{ username }}</p>
    <app-movie-list 
        [movies]="movies"
        (goToMovie)="onGoToMovie($event)"></app-movie-list>
</main>
